body {
  background-image: url("https://i.redd.it/jxfvdc5eskwz.jpg");
  filter: drop-shadow(5px 5px 2px black);
  font-family: 'Lato', sans-serif;
}

.week {
  display: flex;
  margin: 1px;
}

.calendar-day {
  border-color: white;
  border-style: solid;
  border-width: 2px 0px 0px;
  color: white;
  flex-grow: 1;
  font-size: 1em;
  height: 100px;
  margin: 1px;
  min-height: 100px;
  min-width: 44px;
  opacity: 0.50;
}

#calendar-container {
  color: white;
  margin: 10px;
}

#time, #date {
  flex-grow: 1;
  margin: 20px;
  vertical-align: middle;
  color: white;
}

#time {
  font-weight: bold;
}

#date {
  text-align: right;
}
